server:
  port: ${PORT:8080}

spring:
  main:
    banner-mode: off

  datasource:
    url: ${JDBC_DATABASE_URL:${DATABASE_URL}}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

unsplash:
  access-key: ${UNSPLASH_ACCESS_KEY}
  base-url: https://api.unsplash.com
